USE [BIRD_FARM_SHOP]
GO
/****** Object:  Table [dbo].[BirdFeedback]    Script Date: 11/15/2023 10:12:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BirdFeedback](
	[idFeedback] [int] IDENTITY(1,1) NOT NULL,
	[idUser] [nchar](50) NOT NULL,
	[idBirdProduct] [nvarchar](100) NOT NULL,
	[content] [nvarchar](500) NULL,
	[createdDate] [date] NULL,
	[rate] [int] NULL,
 CONSTRAINT [PK__BirdFeed__0E3142BC8EBAB98C] PRIMARY KEY CLUSTERED 
(
	[idFeedback] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BirdImage]    Script Date: 11/15/2023 10:12:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BirdImage](
	[idBirdImage] [int] IDENTITY(1,1) NOT NULL,
	[idBirdProduct] [nvarchar](100) NOT NULL,
	[urlImage] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[idBirdImage] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BirdProduct]    Script Date: 11/15/2023 10:12:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BirdProduct](
	[idBird] [nvarchar](100) NOT NULL,
	[name] [nvarchar](100) NULL,
	[overview] [nvarchar](2000) NULL,
	[idBirdSpecies] [int] NOT NULL,
	[quantity] [int] NULL,
	[importPrice] [float] NULL,
	[salePrice] [float] NULL,
	[imageURL] [text] NULL,
	[status] [bit] NULL,
	[period] [nvarchar](50) NOT NULL,
	[type] [int] NULL,
	[videoURL] [text] NULL,
	[shortDescription] [nvarchar](1000) NULL,
	[isPairing] [bit] NULL,
 CONSTRAINT [PK__BirdProd__E686E37425994927] PRIMARY KEY CLUSTERED 
(
	[idBird] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BirdProfile]    Script Date: 11/15/2023 10:12:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BirdProfile](
	[idBirdProfile] [nvarchar](100) NOT NULL,
	[idBird] [nvarchar](100) NULL,
	[achievement] [nvarchar](500) NULL,
	[reproductiveHistory] [nvarchar](500) NULL,
	[Age] [nvarchar](20) NULL,
	[idFatherBird] [nvarchar](100) NULL,
	[idMotherBird] [nvarchar](100) NULL,
	[mutation] [bit] NULL,
	[gender] [nvarchar](50) NULL,
	[feeBirdNestMale] [float] NULL,
	[feeBirdNestFemale] [float] NULL,
 CONSTRAINT [PK__BirdProf__8BFEC5AE15C0BD18] PRIMARY KEY CLUSTERED 
(
	[idBirdProfile] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BirdType]    Script Date: 11/15/2023 10:12:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BirdType](
	[idBirdType] [int] IDENTITY(1,1) NOT NULL,
	[birdTypeName] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[idBirdType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 11/15/2023 10:12:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[idCustomer] [nchar](50) NOT NULL,
	[address] [nvarchar](1000) NOT NULL,
	[phoneNumber] [nchar](20) NULL,
	[email] [nvarchar](100) NOT NULL,
	[image] [text] NULL,
 CONSTRAINT [PK__Customer__D05876860463DC2A] PRIMARY KEY CLUSTERED 
(
	[idCustomer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 11/15/2023 10:12:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[idOrder] [int] IDENTITY(1,1) NOT NULL,
	[idUser] [nchar](50) NOT NULL,
	[createdDate] [date] NULL,
	[status] [nvarchar](50) NULL,
	[Total] [float] NULL,
	[deliveryDate] [date] NULL,
	[receiverAddress] [nvarchar](1000) NULL,
	[Note] [nvarchar](1000) NULL,
	[receiverPhoneNumber] [nchar](15) NULL,
	[receiverName] [nvarchar](200) NULL,
	[paymentID] [int] NULL,
	[isPay] [bit] NULL,
	[orderCode] [nvarchar](20) NULL,
 CONSTRAINT [PK__Order__C8AAF6FFE710F889] PRIMARY KEY CLUSTERED 
(
	[idOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 11/15/2023 10:12:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[idOrderDetail] [int] IDENTITY(1,1) NOT NULL,
	[idOrder] [int] NOT NULL,
	[idBirdProduct] [nvarchar](100) NULL,
	[quantity] [int] NULL,
	[price] [float] NULL,
	[totalPrice] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[idOrderDetail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 11/15/2023 10:12:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[idPayment] [int] IDENTITY(1,1) NOT NULL,
	[methodName] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[idPayment] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Report]    Script Date: 11/15/2023 10:12:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Report](
	[idReport] [int] IDENTITY(1,1) NOT NULL,
	[idUser] [nchar](50) NOT NULL,
	[month] [int] NULL,
	[year] [int] NULL,
	[revenue] [float] NULL,
	[profit] [float] NULL,
	[totalOrder] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[idReport] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RequiredOrder]    Script Date: 11/15/2023 10:12:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequiredOrder](
	[idRequiredOrder] [int] IDENTITY(1,1) NOT NULL,
	[idUser] [nchar](50) NOT NULL,
	[createdDate] [date] NULL,
	[status] [nvarchar](50) NULL,
	[Total] [float] NULL,
	[deliveryDate] [date] NULL,
	[receiverAddress] [nvarchar](1000) NULL,
	[receiverName] [nvarchar](200) NULL,
	[receiverPhoneNumber] [nchar](15) NULL,
	[paymentID] [int] NULL,
	[reason] [nvarchar](500) NULL,
	[imgTracking] [text] NULL,
	[trackingDate] [date] NULL,
	[isPay] [bit] NULL,
	[orderCode] [nvarchar](20) NULL,
	[Note] [nvarchar](1000) NULL,
 CONSTRAINT [PK__Required__2DDADB49D17D3A78] PRIMARY KEY CLUSTERED 
(
	[idRequiredOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RequiredOrderDetail]    Script Date: 11/15/2023 10:12:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequiredOrderDetail](
	[idRequiredOrderDetail] [int] IDENTITY(1,1) NOT NULL,
	[idRequiredOrder] [int] NOT NULL,
	[idBirdFather] [nvarchar](100) NULL,
	[idBirdNest] [nvarchar](100) NULL,
	[idBirdMother] [nvarchar](100) NULL,
	[fee] [float] NULL,
	[birdNestMale] [int] NULL,
	[birdNestFemale] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idRequiredOrderDetail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 11/15/2023 10:12:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[idRole] [int] IDENTITY(1,1) NOT NULL,
	[roleName] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[idRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrackingBirdNest]    Script Date: 11/15/2023 10:12:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrackingBirdNest](
	[idTrackingBirdNest] [int] IDENTITY(1,1) NOT NULL,
	[idBirdNest] [nvarchar](1000) NULL,
	[imageURL] [text] NULL,
	[name] [nvarchar](100) NULL,
	[status] [nvarchar](100) NULL,
	[trackingDate] [datetime2](7) NULL,
	[reason] [nvarchar](500) NULL,
 CONSTRAINT [PK__Tracking__3370FCADE021BFE5] PRIMARY KEY CLUSTERED 
(
	[idTrackingBirdNest] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 11/15/2023 10:12:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[idUser] [nchar](50) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](100) NOT NULL,
	[fullName] [nvarchar](200) NULL,
	[idRole] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BirdFeedback] ON 

INSERT [dbo].[BirdFeedback] ([idFeedback], [idUser], [idBirdProduct], [content], [createdDate], [rate]) VALUES (3, N'A004                                              ', N'CQL01', N'Tôi rất hài lòng với con chim mà tôi đã mua từ cửa hàng. Nó có màu lông rất đẹp và rõ ràng đã được chăm sóc cẩn thận. Tôi hy vọng mối quan hệ giữa tôi và con chim sẽ ngày càng gắn kết hơn và tạo nên những kỷ niệm đáng nhớ. Tôi muốn cảm ơn cửa hàng đã giúp tôi tìm thấy một thành viên mới cho gia đình của mình.', CAST(N'2023-09-30' AS Date), NULL)
INSERT [dbo].[BirdFeedback] ([idFeedback], [idUser], [idBirdProduct], [content], [createdDate], [rate]) VALUES (4, N'e69ba                                             ', N'CCV02', N'Tôi rất hạnh phúc với con chim mà tôi đã mua từ cửa hàng. Nó có tính cách thân thiện và ngoại hình đẹp mắt. Tôi đã chuẩn bị lồng và thức ăn cho nó và mong muốn có mối quan hệ tốt với nó. Cảm ơn cửa hàng đã giúp tôi tìm thấy một người bạn đáng yêu như vậy.', CAST(N'2023-09-12' AS Date), NULL)
INSERT [dbo].[BirdFeedback] ([idFeedback], [idUser], [idBirdProduct], [content], [createdDate], [rate]) VALUES (11, N'A004                                              ', N'Chim29612311', N'Tôi rất thích Bird Web! Giao diện trực quan và dễ sử dụng. Tôi đã tìm thấy nhiều thông tin hữu ích và những nội dung thú vị trên trang web này. Rất đáng để trải nghiệm!', CAST(N'2023-11-01' AS Date), 5)
SET IDENTITY_INSERT [dbo].[BirdFeedback] OFF
GO
SET IDENTITY_INSERT [dbo].[BirdImage] ON 

INSERT [dbo].[BirdImage] ([idBirdImage], [idBirdProduct], [urlImage]) VALUES (3, N'BC01', N'https://file3.qdnd.vn/data/images/0/2023/04/09/tranhoai/bo%20cau%20bi%20bat.jpg?dpi=150&quality=100&w=870')
INSERT [dbo].[BirdImage] ([idBirdImage], [idBirdProduct], [urlImage]) VALUES (4, N'BC01', N'https://image-us.eva.vn/upload/3-2021/images/2021-09-30/image4-1632992746-243-width600height400.jpg')
INSERT [dbo].[BirdImage] ([idBirdImage], [idBirdProduct], [urlImage]) VALUES (5, N'BC02', N'https://1.bp.blogspot.com/-_QZWx4Uv3nM/Tq6qqDkA0cI/AAAAAAAAADI/r4faoXai0kc/s1600/1303855900031896865S425x425Q85.jpg')
SET IDENTITY_INSERT [dbo].[BirdImage] OFF
GO
INSERT [dbo].[BirdProfile] ([idBirdProfile], [idBird], [achievement], [reproductiveHistory], [Age], [idFatherBird], [idMotherBird], [mutation], [gender], [feeBirdNestMale], [feeBirdNestFemale]) VALUES (N'BP_BC01', N'BC01', N'Giải Giọng Hót Hay Nhất Tại Hội Thi Chim Hà Nội', N'Đã ghép cặp 1 lần và có 2 chim con.', N'3 tuổi', N'BC03', N'BC04', 0, N'Mái', NULL, NULL)
INSERT [dbo].[BirdProfile] ([idBirdProfile], [idBird], [achievement], [reproductiveHistory], [Age], [idFatherBird], [idMotherBird], [mutation], [gender], [feeBirdNestMale], [feeBirdNestFemale]) VALUES (N'BP_BC02', N'BC02', N'Giải Giọng Hót Hay Nhất Tại Hội Thi Chim Sài Gòn', N'Đã ghép cặp 2 lần và có 2 chim con.', N'2 tuổi', N'BC03', N'BC04', 0, N'Mái', NULL, NULL)
INSERT [dbo].[BirdProfile] ([idBirdProfile], [idBird], [achievement], [reproductiveHistory], [Age], [idFatherBird], [idMotherBird], [mutation], [gender], [feeBirdNestMale], [feeBirdNestFemale]) VALUES (N'BP_BC03', N'BC03', N'Giải Giọng Hót Hay Nhất Tại Hội Thi Chim Quận Tân Phú', N'Đã ghép cặp 3 lần và có 2 chim con.', N'6 tuổi', NULL, NULL, 0, N'Trống', 1000000, 900000)
GO
SET IDENTITY_INSERT [dbo].[BirdType] ON 

INSERT [dbo].[BirdType] ([idBirdType], [birdTypeName]) VALUES (1, N'Chim Chào Mào')
INSERT [dbo].[BirdType] ([idBirdType], [birdTypeName]) VALUES (2, N'Chim Chích Chòe')
INSERT [dbo].[BirdType] ([idBirdType], [birdTypeName]) VALUES (3, N'Chim Sơn Ca')
SET IDENTITY_INSERT [dbo].[BirdType] OFF
GO
INSERT [dbo].[Customer] ([idCustomer], [address], [phoneNumber], [email], [image]) VALUES (N'0a0da                                             ', N'TPHCM', N'123                 ', N'mycodeiszerotwo@gmail.com', N'https://lh3.googleusercontent.com/a/ACg8ocLXW1a2nVEbcrm4PlP7gQ9OTawvic4JPab8DPrXMah5=s96-c')
INSERT [dbo].[Customer] ([idCustomer], [address], [phoneNumber], [email], [image]) VALUES (N'13c73                                             ', N'TPHCM', N'123                 ', N'minhnkase173338@gmail.com', N'https://lh3.googleusercontent.com/a/ACg8ocJPPuU5RwWGqLTsj9xvOY4E8S-jscq7QqynLQi2rWTx=s96-c')
INSERT [dbo].[Customer] ([idCustomer], [address], [phoneNumber], [email], [image]) VALUES (N'4ebe9                                             ', N'TPHCM', N'123                 ', N'tanhpse173453@fpt.edu.vn', N'https://lh3.googleusercontent.com/a/ACg8ocJAdj3TxZYXNMAk1sdfCjW-GYdVisGsSolRPhsIOOtB=s96-c')
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([idOrder], [idUser], [createdDate], [status], [Total], [deliveryDate], [receiverAddress], [Note], [receiverPhoneNumber], [receiverName], [paymentID], [isPay], [orderCode]) VALUES (2, N'4ebe9                                             ', CAST(N'2023-10-17' AS Date), N'Đã hủy', 1000000, NULL, N'TPHCM', N'', N'123            ', N'Huynh Phuoc Tan', 2, 0, NULL)
INSERT [dbo].[Order] ([idOrder], [idUser], [createdDate], [status], [Total], [deliveryDate], [receiverAddress], [Note], [receiverPhoneNumber], [receiverName], [paymentID], [isPay], [orderCode]) VALUES (3, N'4ebe9                                             ', CAST(N'2023-10-17' AS Date), N'Đã xử lý', 1050000, NULL, N'TPHCM', N'', N'123            ', N'Huynh Phuoc Tan', 2, 0, NULL)
INSERT [dbo].[Order] ([idOrder], [idUser], [createdDate], [status], [Total], [deliveryDate], [receiverAddress], [Note], [receiverPhoneNumber], [receiverName], [paymentID], [isPay], [orderCode]) VALUES (4, N'4ebe9                                             ', CAST(N'2023-10-17' AS Date), N'Đã xử lý', 600000, NULL, N'TPHCM', N'', N'123            ', N'Huynh Phuoc Tan', 2, 0, NULL)
GO
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetail] ON 

INSERT [dbo].[OrderDetail] ([idOrderDetail], [idOrder], [idBirdProduct], [quantity], [price], [totalPrice]) VALUES (1, 2, N'CY03', 1, 1000000, 1000000)
INSERT [dbo].[OrderDetail] ([idOrderDetail], [idOrder], [idBirdProduct], [quantity], [price], [totalPrice]) VALUES (2, 3, N'T_CN01', 3, 350000, 1050000)
INSERT [dbo].[OrderDetail] ([idOrderDetail], [idOrder], [idBirdProduct], [quantity], [price], [totalPrice]) VALUES (3, 4, N'P-BM01', 1, 600000, 600000)
GO
SET IDENTITY_INSERT [dbo].[OrderDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([idPayment], [methodName]) VALUES (1, N'COD')
INSERT [dbo].[Payment] ([idPayment], [methodName]) VALUES (2, N'Banking')
SET IDENTITY_INSERT [dbo].[Payment] OFF
GO
SET IDENTITY_INSERT [dbo].[RequiredOrder] ON 

INSERT [dbo].[RequiredOrder] ([idRequiredOrder], [idUser], [createdDate], [status], [Total], [deliveryDate], [receiverAddress], [receiverName], [receiverPhoneNumber], [paymentID], [reason], [imgTracking], [trackingDate], [isPay], [orderCode], [Note]) VALUES (7, N'4ebe9                                             ', CAST(N'2023-10-24' AS Date), N'Đã hoàn thành', 32800000, NULL, N'TPHCM', N'Huynh Phuoc Tan', N'123            ', 2, N'', N'https://res.cloudinary.com/dpbscvwv3/image/upload/v1699285754/td1v1ydmdvucpbgqgrae.png', CAST(N'2023-11-06' AS Date), 0, N'59287263', N'Nhớ giao hàng cẩn thận')
INSERT [dbo].[RequiredOrder] ([idRequiredOrder], [idUser], [createdDate], [status], [Total], [deliveryDate], [receiverAddress], [receiverName], [receiverPhoneNumber], [paymentID], [reason], [imgTracking], [trackingDate], [isPay], [orderCode], [Note]) VALUES (8, N'4ebe9                                             ', CAST(N'2023-10-24' AS Date), N'Đang xử lý', 1800000, NULL, N'TPHCM', N'Huynh Phuoc Tan', N'123            ', 2, NULL, NULL, NULL, 0, N'73608007', N'Nhớ giao hàng cẩn thận')
SET IDENTITY_INSERT [dbo].[RequiredOrder] OFF
GO
SET IDENTITY_INSERT [dbo].[RequiredOrderDetail] ON 

INSERT [dbo].[RequiredOrderDetail] ([idRequiredOrderDetail], [idRequiredOrder], [idBirdFather], [idBirdNest], [idBirdMother], [fee], [birdNestMale], [birdNestFemale]) VALUES (3, 6, N'BC03', N'10398508', N'BC04', 1800000, 5, 5)
INSERT [dbo].[RequiredOrderDetail] ([idRequiredOrderDetail], [idRequiredOrder], [idBirdFather], [idBirdNest], [idBirdMother], [fee], [birdNestMale], [birdNestFemale]) VALUES (4, 7, N'BC03', N'44507057', N'BC04', 1800000, 15, 20)
INSERT [dbo].[RequiredOrderDetail] ([idRequiredOrderDetail], [idRequiredOrder], [idBirdFather], [idBirdNest], [idBirdMother], [fee], [birdNestMale], [birdNestFemale]) VALUES (5, 8, N'BC03', N'40933845', N'BC04', 1800000, NULL, NULL)
SET IDENTITY_INSERT [dbo].[RequiredOrderDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([idRole], [roleName]) VALUES (1, N'Quản trị')
INSERT [dbo].[Role] ([idRole], [roleName]) VALUES (2, N'Quản lý')
INSERT [dbo].[Role] ([idRole], [roleName]) VALUES (3, N'Nhân viên')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[TrackingBirdNest] ON 

INSERT [dbo].[TrackingBirdNest] ([idTrackingBirdNest], [idBirdNest], [imageURL], [name], [status], [trackingDate], [reason]) VALUES (1, N'432424', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[TrackingBirdNest] ([idTrackingBirdNest], [idBirdNest], [imageURL], [name], [status], [trackingDate], [reason]) VALUES (2, N'69105290', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[TrackingBirdNest] ([idTrackingBirdNest], [idBirdNest], [imageURL], [name], [status], [trackingDate], [reason]) VALUES (3, N'63123617', NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[TrackingBirdNest] OFF
GO
INSERT [dbo].[User] ([idUser], [username], [password], [fullName], [idRole]) VALUES (N'000bb                                             ', N'nguyenkyanhminh@gmail.com', N'12345', N'Minh', 4)
INSERT [dbo].[User] ([idUser], [username], [password], [fullName], [idRole]) VALUES (N'0a0da                                             ', N'mycodeiszerotwo@gmail.com', N'123', N'Rei', 4)
INSERT [dbo].[User] ([idUser], [username], [password], [fullName], [idRole]) VALUES (N'13c73                                             ', N'minhnkase173338@gmail.com', N'123', N'Minh', 4)
GO
ALTER TABLE [dbo].[BirdFeedback]  WITH CHECK ADD  CONSTRAINT [FK_BIRDFEEDBACK_USER] FOREIGN KEY([idUser])
REFERENCES [dbo].[User] ([idUser])
GO
ALTER TABLE [dbo].[BirdFeedback] CHECK CONSTRAINT [FK_BIRDFEEDBACK_USER]
GO
ALTER TABLE [dbo].[BirdImage]  WITH CHECK ADD  CONSTRAINT [FK_BirdImage_BirdProduct] FOREIGN KEY([idBirdProduct])
REFERENCES [dbo].[BirdProduct] ([idBird])
GO
ALTER TABLE [dbo].[BirdImage] CHECK CONSTRAINT [FK_BirdImage_BirdProduct]
GO
ALTER TABLE [dbo].[BirdProduct]  WITH CHECK ADD  CONSTRAINT [FK_BIRDPRODUCT_BIRDTYPE] FOREIGN KEY([idBirdSpecies])
REFERENCES [dbo].[BirdType] ([idBirdType])
GO
ALTER TABLE [dbo].[BirdProduct] CHECK CONSTRAINT [FK_BIRDPRODUCT_BIRDTYPE]
GO
ALTER TABLE [dbo].[BirdProfile]  WITH CHECK ADD  CONSTRAINT [FK_BirdProfile_BirdMother] FOREIGN KEY([idMotherBird])
REFERENCES [dbo].[BirdProduct] ([idBird])
GO
ALTER TABLE [dbo].[BirdProfile] CHECK CONSTRAINT [FK_BirdProfile_BirdMother]
GO
ALTER TABLE [dbo].[BirdProfile]  WITH CHECK ADD  CONSTRAINT [FK_BirdProfile_BirdProduct] FOREIGN KEY([idBird])
REFERENCES [dbo].[BirdProduct] ([idBird])
GO
ALTER TABLE [dbo].[BirdProfile] CHECK CONSTRAINT [FK_BirdProfile_BirdProduct]
GO
ALTER TABLE [dbo].[BirdProfile]  WITH CHECK ADD  CONSTRAINT [FK_BirdProfile_BirdProduct1] FOREIGN KEY([idFatherBird])
REFERENCES [dbo].[BirdProduct] ([idBird])
GO
ALTER TABLE [dbo].[BirdProfile] CHECK CONSTRAINT [FK_BirdProfile_BirdProduct1]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_CUSTOMER_USER] FOREIGN KEY([idCustomer])
REFERENCES [dbo].[User] ([idUser])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_CUSTOMER_USER]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_ORDER_PAYMENT] FOREIGN KEY([paymentID])
REFERENCES [dbo].[Payment] ([idPayment])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_ORDER_PAYMENT]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_ORDER_USER] FOREIGN KEY([idUser])
REFERENCES [dbo].[User] ([idUser])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_ORDER_USER]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_ORDERDETAIL_BIRDPRODUCT] FOREIGN KEY([idBirdProduct])
REFERENCES [dbo].[BirdProduct] ([idBird])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_ORDERDETAIL_BIRDPRODUCT]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_ORDERDETAIL_ORDER] FOREIGN KEY([idOrder])
REFERENCES [dbo].[Order] ([idOrder])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_ORDERDETAIL_ORDER]
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD  CONSTRAINT [FK_REPORT_USER] FOREIGN KEY([idUser])
REFERENCES [dbo].[User] ([idUser])
GO
ALTER TABLE [dbo].[Report] CHECK CONSTRAINT [FK_REPORT_USER]
GO
ALTER TABLE [dbo].[RequiredOrder]  WITH CHECK ADD  CONSTRAINT [FK_REQUIREDORDER_PAYMENT] FOREIGN KEY([paymentID])
REFERENCES [dbo].[Payment] ([idPayment])
GO
ALTER TABLE [dbo].[RequiredOrder] CHECK CONSTRAINT [FK_REQUIREDORDER_PAYMENT]
GO
ALTER TABLE [dbo].[RequiredOrder]  WITH CHECK ADD  CONSTRAINT [FK_REQUIREDORDER_USER] FOREIGN KEY([idUser])
REFERENCES [dbo].[User] ([idUser])
GO
ALTER TABLE [dbo].[RequiredOrder] CHECK CONSTRAINT [FK_REQUIREDORDER_USER]
GO
ALTER TABLE [dbo].[RequiredOrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_RequiredOrderDetail_BirdProduct1] FOREIGN KEY([idBirdFather])
REFERENCES [dbo].[BirdProduct] ([idBird])
GO
ALTER TABLE [dbo].[RequiredOrderDetail] CHECK CONSTRAINT [FK_RequiredOrderDetail_BirdProduct1]
GO
ALTER TABLE [dbo].[RequiredOrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_RequiredOrderDetail_BirdProduct2] FOREIGN KEY([idBirdMother])
REFERENCES [dbo].[BirdProduct] ([idBird])
GO
ALTER TABLE [dbo].[RequiredOrderDetail] CHECK CONSTRAINT [FK_RequiredOrderDetail_BirdProduct2]
GO
ALTER TABLE [dbo].[RequiredOrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_REQUIREDORDERDETAIL_REQUIREDORDER] FOREIGN KEY([idRequiredOrder])
REFERENCES [dbo].[RequiredOrder] ([idRequiredOrder])
GO
ALTER TABLE [dbo].[RequiredOrderDetail] CHECK CONSTRAINT [FK_REQUIREDORDERDETAIL_REQUIREDORDER]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_USER_ROLE] FOREIGN KEY([idRole])
REFERENCES [dbo].[Role] ([idRole])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_USER_ROLE]
GO
