<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DispatchServlet</servlet-name>
        <servlet-class>birdfarm.dispatchservlet.DispatchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentController</servlet-name>
        <servlet-class>birdfarm.controller.cart.PaymentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentResultController</servlet-name>
        <servlet-class>birdfarm.controller.cart.PaymentResultController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyOrderController</servlet-name>
        <servlet-class>birdfarm.controller.cart.MyOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RpaymentController</servlet-name>
        <servlet-class>birdfarm.controller.cart.RpaymentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequiredPaymentResultController</servlet-name>
        <servlet-class>birdfarm.controller.cart.RequiredPaymentResultController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DispatchServlet</servlet-name>
        <url-pattern>/DispatchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentController</servlet-name>
        <url-pattern>/PaymentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentResultController</servlet-name>
        <url-pattern>/PaymentResultController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyOrderController</servlet-name>
        <url-pattern>/MyOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RpaymentController</servlet-name>
        <url-pattern>/RpaymentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequiredPaymentResultController</servlet-name>
        <url-pattern>/RequiredPaymentResultController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>DispatchServlet</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>500</error-code>
        <location>/error.html</location>
    </error-page>
</web-app>
